:root{
    --blue-ribbon: #145af7;
    --charcoal: #4c4a4a;
    --ghost: #efefef;
    --green: #2df613;
}
body{
    font-family: "Gothic A1", sans-serif;
    font-size: 18px;
    margin: 0;
    background-color: var(--ghost);
}
/*header*/
header{
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: var(--charcoal);
    border-bottom: 8px solid var(--green);
    z-index: 1;
}
header a{
    float: left;
    display: block;
    color: var(--ghost);
    text-decoration: none;
    padding: 14px;
}
header a:hover{
    color: var(--green);
    transition: color 0.5s linear;
    cursor: pointer;
}
#active{
    color: var(--green);
}
/***main***/
main{
    background-color: var(--ghost);
    padding: 10%;
    animation-name: slideRight;
    animation-duration: 2s;
}
h2{
    text-align: center;
}
/*skills*/
.tech-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
}
.tech{
    padding: 5px;
    margin: 5px;
    font-size: 20px;
}
.fa-brands.fa-html5.fa-lg, .fa-brands.fa-css3.fa-lg,
.fa-brands.fa-js.fa-lg, .fa-brands.fa-react.fa-lg,
.fa-brands.fa-github.fa-lg, .fa-brands.fa-python.fa-lg,
.fa-brands.fa-java.fa-lg, .fa-sharp.fa-solid.fa-c.fa-lg,
.fa-solid.fa-folder-tree.fa-lg, .fa-solid.fa-database.fa-lg,
.fa-brands.fa-docker.fa-lg, .fa-solid.fa-computer.fa-lg,
.fa-solid.fa-globe.fa-lg, .fa-solid.fa-hexagon-nodes.fa-lg,
.fa-solid.fa-pencil.fa-lg, .fa-solid.fa-comments.fa-lg,
.fa-solid.fa-magnifying-glass.fa-lg, .fa-solid.fa-brain.fa-lg,
.fa-solid.fa-paintbrush.fa-lg, .fa-solid.fa-question.fa-lg{
    color: var(--blue-ribbon);
}
/*education*/
.education{
    overflow: auto;
}
.education-container p{
    font-weight: bold;
}
/*contact*/
.contact-me p{
    margin-left: 25px;
    margin-right: 25px;
}
.contact-card{
    border: 3px solid var(--charcoal);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    min-width: 45%;
    margin: 10px;
    width: 100%;
    padding-bottom: 20px;
}
.contact-card h5{
    text-align: center;
    margin: 5px;
}
.contact-card p{
    flex-grow: 1;
    margin: 8px;
    text-align: center;
}
.contact-card span{
    text-align: center;
}
.contact-card a{
    background-color: var(--blue-ribbon);
    color: var(--ghost);
    text-decoration: none;
    padding: 5px;
}
.contact-container{
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    flex-direction: row;
}
.contacts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    overflow: auto;
    justify-content: center;
}
/***footer***/
footer{
    background-color: var(--charcoal);
    color: var(--ghost);
    border-top: 8px solid var(--green);
    padding: 10px;
    text-align: center;
    overflow: auto;
}
footer a{
    text-decoration: none;
}
.footer-contact{
    text-align: left;
}
.footer-contact-header{
    border-bottom: 2px solid var(--green);
    color: var(--ghost);
    text-decoration: none;
    font-weight: bold;
}
@keyframes slideRight{
    from{transform: translateX(-100%)}
}
/*Responsive css*/
@media (max-width:520px){
    body{
        font-size: 16px;
    }
    .menu{
        overflow: none;
    }
    .menu-justify{
        float: none;
    }
    .menu a{
        float: none;
        display: block;
        text-align: center;
        padding: 10px;
    }
    .tech-stack{
        flex-direction: column;
        align-items: start;
    }
    .tech{
        width: auto;
    }
    .contacts{
        flex-direction: column;
    }
    .contact-container{
        flex-direction: column;
    }
    .contact-card{
        max-width: 100%;
        margin: 10px 0px;
    }
}