:root{
    --blue-ribbon: #145af7;
    --charcoal: #4c4a4a;
    --ghost: #efefef;
}
body{
    font-family: "Gothic A1", sans-serif;
    font-size: 18px;
    margin: 0;
}
/***header***/
header{
    background-color: var(--ghost);
    padding: 0px;
    padding-bottom: 30px;
}
/*navbar*/
nav{
    background-color: var(--charcoal);
    border-bottom: 8px solid var(--blue-ribbon);
}
.menu{
    background-color: var(--charcoal);
    overflow: hidden;
}
.menu-justify{
    float: right;
}
.menu a{
    float: left;
    color: var(--ghost);
    text-decoration: none;
    padding: 20px;
}
.menu a:hover{
    color: var(--blue-ribbon);
    transition: color 0.5s linear;
}
#active{
    color: var(--blue-ribbon);
}
header h1{
    margin-left: 10px;
}
/***main***/
main{
    background-color: var(--ghost);
    padding: 10px;
}
/*about me*/
.about-me p{
    margin-left: 25px;
    margin-right: 25px;
}
.about-me a{
    color: black;
}
/*skills*/
.tech-stack{
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
}
.tech{
    border: 3px solid var(--charcoal);
    padding: 5px;
    margin: 5px;
    font-size: 20px;
}
.fa-brands.fa-html5.fa-lg, .fa-brands.fa-css3.fa-lg, .fa-brands.fa-js.fa-lg, .fa-brands.fa-java.fa-lg, .fa-sharp.fa-solid.fa-c.fa-lg, .fa-solid.fa-database.fa-lg{
    color: var(--blue-ribbon);
}
/*education*/
.education{
    overflow: auto;
}
.education-container{
    margin-left: 25px;
    margin-right: 25px;
}
.education-container p{
    font-weight: bold;
}
/*contact*/
.contact-me p{
    margin-left: 25px;
    margin-right: 25px;
}
.contact-card{
    border: 3px solid var(--charcoal);
    display: flex;
    flex-direction: column;
    min-width: 45%;
    margin: 10px;
    width: 100%;
    padding-bottom: 20px;
}
.contact-card h5{
    text-align: center;
    margin: 5px;
}
.contact-card p{
    flex-grow: 1;
    margin: 8px;
    text-align: center;
}
.contact-card span{
    text-align: center;
}
.contact-card a{
    background-color: var(--blue-ribbon);
    color: var(--ghost);
    text-decoration: none;
    padding: 5px;
}
.contact-container{
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    flex-direction: row;
}
.contacts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    overflow: auto;
    justify-content: center;
}
/***footer***/
footer{
    background-color: var(--charcoal);
    color: var(--ghost);
    border-top: 8px solid var(--blue-ribbon);
    padding: 10px;
    text-align: center;
    overflow: auto;
}
.contact{
    text-align: left;
}
.contact-header{
    border-bottom: 2px solid var(--blue-ribbon);
    color: var(--ghost);
    text-decoration: none;
    font-weight: bold;
}
/*Responsive css*/
@media (max-width:520px){
    body{
        font-size: 16px;
    }
    .menu{
        overflow: none;
    }
    .menu-justify{
        float: none;
    }
    .menu a{
        float: none;
        display: block;
        text-align: center;
        padding: 10px;
    }
    .tech-stack{
        flex-direction: column;
        align-items: start;
    }
    .tech{
        width: auto;
    }
    .contacts{
        flex-direction: column;
    }
    .contact-container{
        flex-direction: column;
    }
    .contact-card{
        max-width: 100%;
        margin: 10px 0px;
    }
}