:root{
    --blue-ribbon: #145af7;
    --light-blue-ribbon: #1498f7;
    --charcoal: #4c4a4a;
    --ghost: #efefef;
    --green: #2df613;
}
body{
    font-family: "Gothic A1", sans-serif;
    font-size: 18px;
    margin: 0;
    background-color: var(--ghost);
}
/*header*/
header{
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: var(--charcoal);
    border-bottom: 8px solid var(--green);
    z-index: 1;
}
header a{
    float: left;
    display: block;
    color: var(--ghost);
    text-decoration: none;
    padding: 14px;
}
header a:hover{
    color: var(--green);
    transition: color 0.5s linear;
    cursor: pointer;
}
#active{
    color: var(--green);
}
/*main*/
main{
    background-color: var(--ghost);
    padding: 10%;
    animation-name: slideRight;
    animation-duration: 2s;
}
h2{
    text-align: center;
}
.greeting{
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
}
.greeting h1{
    text-align: center;
}
/*projects*/
.projects-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
}
.project-widget{
    display: flex;
    flex-direction: column;
    border: 3px solid var(--charcoal);
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    max-width: 45%;
}
.project-widget img{
    width: 100%;
    border-bottom: 3px solid var(--charcoal);
    border-radius: 8px 8px 0 0;
}
.project-widget h5{
    margin: 5px;
}
.project-widget p{
    margin: 8px;
    flex-grow: 1;
}

/*NEW LINK BUTTONS*/
.project-widget a, .contact-card a{
    border: 3px solid var(--blue-ribbon);
    padding: 5px;
    color: var(--charcoal);
    text-decoration: none;
    position: relative;
    background-image: linear-gradient(to left, transparent 50%, var(--blue-ribbon) 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position 0.5s ease-in-out, color 0.5s ease-in-out;
}
.project-widget a:hover, .contact-card a:hover{
    background-position: 0% 0;
    color: var(--ghost);
}
/*contact*/
.contact-me p{
    margin-left: 25px;
    margin-right: 25px;
}
.contact-card{
    border: 3px solid var(--charcoal);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    min-width: 45%;
    margin: 10px;
    width: 100%;
    padding-bottom: 20px;
}
.contact-card h5{
    text-align: center;
    margin: 5px;
}
.contact-card p{
    flex-grow: 1;
    margin: 8px;
    text-align: center;
}
.contact-card span{
    text-align: center;
}
.contact-container{
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    flex-direction: row;
}
.contacts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    overflow: auto;
    justify-content: center;
}
@keyframes slideRight{
    from{transform: translateX(-100%)}
}
/***footer***/
footer{
    background-color: var(--charcoal);
    color: var(--ghost);
    border-top: 8px solid var(--green);
    padding: 10px;
    text-align: center;
    overflow: auto;
}
footer a{
    text-decoration: none;
}
.footer-contact{
    text-align: left;
}
.footer-contact-header{
    border-bottom: 2px solid var(--green);
    color: var(--ghost);
    text-decoration: none;
    font-weight: bold;
}
/** RESPONSIVE CSS**/
@media (max-width:520px){
    body{
        font-size: 16px;
    }
    .menu{
        overflow: none;
    }
    .menu-justify{
        float: none;
    }
    .menu a{
        float: none;
        display: block;
        text-align: center;
        padding: 10px;
    }
    .greeting{
        padding-top: 20%;
        padding-bottom: 20%;
    }
    .contact-me{
        padding-top: 20%;
        padding-bottom: 20%;
    }
    .contacts{
        flex-direction: column;
    }
    .contact-container{
        flex-direction: column;
    }
    .project-widget, .contact-card{
        max-width: 100%;
        margin: 10px 0px;
    }
}