:root{
    --blue-ribbon: #145af7;
    --charcoal: #4c4a4a;
    --ghost: #efefef;
}
body{
    font-family: "Gothic A1", sans-serif;
    font-size: 18px;
    margin: 0;
}
/***header***/
header{
    background-color: var(--ghost);
    padding: 0px;
    padding-bottom: 30px;
}
/*navbar*/
nav{
    background-color: var(--charcoal);
    border-bottom: 8px solid var(--blue-ribbon);
}
.menu{
    background-color: var(--charcoal);
    overflow: hidden;
}
.menu-justify{
    float: right;
}
.menu a{
    float: left;
    color: var(--ghost);
    text-decoration: none;
    padding: 20px;
}
.menu a:hover{
    color: var(--blue-ribbon);
    transition: color 0.5s linear;
}
#active{
    color: var(--blue-ribbon);
}
header h1{
    margin-left: 10px;
}
/***main***/
main{
    background-color: var(--ghost);
    padding: 10px;
}
main img{
    border: 3px solid var(--charcoal);
}
/*description*/
.description{
    margin-left: 25px;
    margin-right: 25px;
    overflow: auto;
}
/*links*/
.links{
    text-align: center;
}
.links span{
    background: var(--blue-ribbon);
    padding: 10px;
    display: inline-block;
}
.links a{
    background-color: var(--blue-ribbon);
    text-decoration: none;
    color: var(--ghost);
}
.link-box{
    padding-bottom: 30px;
}
/*tech stack*/
.tech-list{
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
}
.tech{
    border: 3px solid var(--charcoal);
    padding: 5px;
    margin: 5px;
    font-size: 20px;
}
.tech i{
    color: var(--blue-ribbon);
}
/*skills learned*/
.skills{
    margin-left: 25px;
    margin-right: 25px;
    overflow: auto;
}
/*back to home*/
.back-to-home{
    text-align: center;
    padding-bottom: 20px;
}
.back-to-home span{
    background: var(--blue-ribbon);
    padding: 10px;
    display: inline-block;
}
.back-to-home a{
    background-color: var(--blue-ribbon);
    text-decoration: none;
    color: var(--ghost);
}
/***footer***/
footer{
    background-color: var(--charcoal);
    color: var(--ghost);
    border-top: 8px solid var(--blue-ribbon);
    padding: 10px;
    text-align: center;
    overflow: auto;
}
.contact{
    text-align: left;
}
.contact-header{
    border-bottom: 2px solid var(--blue-ribbon);
    color: var(--ghost);
    text-decoration: none;
    font-weight: bold;
}
/*Responsive css*/
@media (max-width:520px){
    body{
        font-size: 16px;
    }
    .menu{
        overflow: none;
    }
    .menu-justify{
        float: none;
    }
    .menu a{
        float: none;
        display: block;
        text-align: center;
        padding: 10px;
    }
    .description, .skills{
        margin: 0px;
    }
    .skills ul{
        padding-left: 15px;
    }
    .tech-list{
        flex-direction: column;
        align-items: start;
    }
    .tech{
        width: auto;
    }
    .contact-widget{
        max-width: 75%;
    }
}