:root{
    --blue-ribbon: #145af7;
    --charcoal: #4c4a4a;
    --ghost: #efefef;
    --green: #2df613;
}
body{
    font-family: "Gothic A1", sans-serif;
    font-size: 18px;
    margin: 0;
    background-color: var(--ghost);
}
/*header*/
header{
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: var(--charcoal);
    border-bottom: 8px solid var(--green);
}
header a{
    float: left;
    display: block;
    color: var(--ghost);
    text-decoration: none;
    padding: 14px;
}
header a:hover{
    color: var(--green);
    transition: color 0.5s linear;
    cursor: pointer;
}
#active{
    color: var(--green);
}
/*main*/
main{
    background-color: var(--ghost);
    padding: 10%;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-duration: 2s;
}
main img{
    border: 3px solid var(--charcoal);
}
@keyframes fadeInOpacity{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/*description*/
.description{
    overflow: auto;
}
/*links*/
.links{
    text-align: center;
}
.links span{
    background: var(--blue-ribbon);
    padding: 10px;
    display: inline-block;
}
.links a{
    background-color: var(--blue-ribbon);
    text-decoration: none;
    color: var(--ghost);
}
.link-box{
    padding-bottom: 30px;
}
/*tech stack*/
.tech-stack{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
}
.tech{
    padding: 5px;
    margin: 5px;
    font-size: 20px;
}
.fa-brands.fa-html5.fa-lg, .fa-brands.fa-css3.fa-lg,
.fa-brands.fa-js.fa-lg, .fa-brands.fa-react.fa-lg{
    color: var(--blue-ribbon);
}
/*back to home*/
.back-to-home{
    text-align: center;
    padding-bottom: 20px;
}
.back-to-home span{
    background: var(--blue-ribbon);
    padding: 10px;
    display: inline-block;
}
.back-to-home a{
    background-color: var(--blue-ribbon);
    text-decoration: none;
    color: var(--ghost);
}
footer{
    background-color: var(--charcoal);
    color: var(--ghost);
    border-top: 8px solid var(--green);
    padding: 10px;
    text-align: center;
    overflow: auto;
}
.contact{
    text-align: left;
}
.contact-header{
    border-bottom: 2px solid var(--green);
    color: var(--ghost);
    text-decoration: none;
    font-weight: bold;
}
/*responsive css*/
@media (max-width:520px){
    body{
        font-size: 16px;
    }
    .menu{
        overflow: none;
    }
    .menu-justify{
        float: none;
    }
    .menu a{
        float: none;
        display: block;
        text-align: center;
        padding: 10px;
    }
    .description, .skills{
        margin: 0px;
    }
    .skills ul{
        padding-left: 15px;
    }
    .tech-list{
        flex-direction: column;
        align-items: start;
    }
    .tech{
        width: auto;
    }
    .contact-widget{
        max-width: 75%;
    }
}